body {
    background-image: url("/img/beef-cooked.jpg");
    margin: 0;
    background-size: 200%;
}

@keyframes fade {
    0% {opacity: 0}
    100% {opacity: 100;}
}

.wrapper {
    display: grid;
    grid-template: 1fr 2fr 1fr / 1fr;
}

#logo {
    grid-area: 1 / 1 / 2 / 2;
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin:auto;
}

#logo h1 {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    color: #FFFFFF;
    opacity: 0.8;
    animation-name: fade;
    animation-duration: 2s;
}

#logo h4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: left;
    color: #D1C587;
    margin-top: 0;
    position: relative;
    top: -4rem;
    left: -5rem;
    animation-name: fade;
    animation-duration: 3s;
}

nav {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.button {
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-size: 2.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80%;
    height: 20%;
    margin-bottom: 1rem;
    background: rgba(84, 75, 63, 0.5);
    border: 1px solid #B09563;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 4px;
    animation-name: fade;
    animation-duration: 2s;
}