body {
    background-image: url("/img/beef-cooked.jpg");
    margin: 0;
    background-size: 200%;
}

@keyframes fade {
    0% {opacity: 0}
    100% {opacity: 100;}
}

.wrapper {
    display: grid;
    grid-template: 20vh 3fr 1fr / 1fr;
}

#logo {
    grid-area: 1 / 1 / 2 / 2;
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin:auto;
}

#logo a {
    text-decoration: none;
}

#logo a h4 {
    left: 0;
}

#logo h1 {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    color: #FFFFFF;
    opacity: 0.8;
    animation-name: fade;
    animation-duration: 2s;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#logo h4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: left;
    color: #D1C587;
    margin-top: 0;
    position: relative;
    top: -4rem;
    left: -5rem;
    animation-name: fade;
    animation-duration: 3s;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

nav, #pdf-meny, #gallery {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    height: 60vh;
}

#gallery {
    flex-direction: row;
    flex-wrap: wrap;
    scroll-behavior: auto
}



#beefslice {
    background: url(/img/beefslice.jpg);
    background-position: center;
    background-size: 90vw;
}

#cheeseburger {
    background: url(/img/cheeseburger.jpg);
    background-position: center;
    background-size: 90vw;
}

#primecuts {
    background: url(/img/primecuts.jpg);
    background-position: center;
    background-size: 90vw;
}

#placing-table {
    background: url(/img/placing-table.jpg);
    background-position: center;
    background-size: 90vw;
}

.image {
    width: 90vw;
    height: 18vh;
    margin-bottom: 0.5rem;
    box-shadow: 0 0.3rem 0.3rem 0 #000;
}

#pdf-meny h2 {
    margin: 1rem 2rem;
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#bokning {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.66);
    backdrop-filter: blur(4px);
    color: white;
    font-family: 'Source Sans Pro';
    width: 90vw;
    margin:auto;
}

#bokning * {
    opacity: initial;
}
#bokning form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    opacity: 1;
}

#bokning form .button {
    margin-top: 1rem;
}

#bokning form input {
    width: 80vw;
}

#bokning form label {
    align-self: flex-start;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.button {
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80vw;
    height: 10vh;
    margin-bottom: 1rem;
    background: rgba(84, 75, 63, 0.5);
    border: 1px solid #B09563;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 4px;
}